click==8.0.4
cryptography==2.0.3
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
Flask-JWT-Extended==3.24.1
googletrans==3.1.0a0
gunicorn == 20.1.0
itsdangerous==0.24
Jinja2==2.11.1
MarkupSafe==1.1.1
pandas==0.20.3
pycparser==2.18
pytest==5.3.5
pytest-flask==0.15.1
python-dateutil==2.6.1
six==1.11.0
Werkzeug==1.0.0